.citrus-tszh-account-choice {
    max-width: 100%;
}
.contaner_ls{
    float:left;
    min-width: 100%;
    padding-bottom: 20px;
    
}
.contaner_ls span, select {
    color: #2b5f93;
    font-weight: bold;
}
/*option{
   border-color: #efeded;
                }*/
.xml{
    
    border-color: #efeded;
    border-radius: 5px;
    color: #2b5f93;
    font-weight: bold;
}

.xml2{
    
    border-color: #efeded;
    border-radius: 5px;
    color: #e0ddd3;
    font-weight: bold;
}
.rail-select{
    /*float: right;*/
    /*margin-right: 60px*/;
    border: 1px solid #efeded;
    border-radius: 3px;
    overflow: hidden;
    height: 27px;
    background:  #fff;
    width: 130px;
    /*padding-bottom: 5px;*/
    
    
}
.select {
    position: relative;
    display: inline-block;
    line-height: 27px;
    font-weight: bold;
    
}
/*.select:after {
    font-family: FontAwesome;
    content: "\f105";
    color: #fff;
    padding: 0 8px;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    text-align: center;
    width: 27px;
    height: 27px;
    pointer-events: none;
    box-sizing: border-box;
    background: #ffbb42;
}*/
.select2 {
    position: relative;
    display: inline-block;
    line-height: 27px;
    font-weight: bold;
    
}
/*.select2:after {
    font-family: FontAwesome;
    content: "\f107";
    color: #fff;
    padding: 0 8px;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    text-align: center;
    width: 27px;
    height: 27px;
    pointer-events: none;
    box-sizing: border-box;
    background: #ffbb42;
}*/


select {
    border-radius: 0;
    background: #fff;
    border:none;
    height: 27px;
    font-size: 16px;
    line-height: 1;
    -webkit-appearance: none;
    width: 130px;
    float:right;
    
    
}
.work_area {
    
    max-width: 1199px;
    background: #fff;
    border-radius: 5px;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    height: 155px;
}
.left_info {
    float: left;
    width: 50%;
    padding-left: 20px;
    
}
.right_info {
    float: right;
    /* width: 30%;*/
    text-align: right;
}
.right_info div {
    padding-right: 20px;
}
@media screen and (max-width: 1920px), screen and (max-width: 1200px)/*, screen and (max-width: 1199px)*/ {
    .work_area {
        
        max-width: 1199px;
        background: #fff;
        border-radius: 5px;
        border: none;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0 auto;
        height: 155px;
    }
    .left_info {
        float: left;
        width: 50%;
        padding-left: 20px;
        
    }
    .right_info {
        float: right;
       /* width: 30%;*/
        text-align: right;
    }
    .right_info div {
        padding-right: 20px;
    }
    /*.left_info div {
        padding-left: 20px;
    }*/
}
}
@media screen and (max-width: 1024px) {
    .work_area {
        border-radius: 5px;
        border: none;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0 auto;
        height: 125px;
    }
    .left_info {
        /*background: #fff;*/
        float: left;
        width: 50%;
        padding-bottom: 20px;
    }
    .right_info {
        /*background: #fff;*/
        float: right;
        /*width: 30%;*/
        /*margin-top: 20px;*/
    }
}
@media screen and (max-width: 827px) {
    .work_area {
        background: #fff;
        border-radius: 5px;
        border: none;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0 auto;
        text-align: center;
    }
    .left_info {
        width: 100%;
        text-align: left;
        background: #fff;
        
    }
    .right_info {
        width: 100%;
        text-align: center;
        background: #fff;
        padding-left: 20px;
        text-align: right !important;
        padding-bottom: 20px;
        
    }
    /*.left_info div  {
        margin-top: 20px;
    }*/
   /* .right_info div {
        margin-top: 20px;
        
    }*/
}
@media screen and (max-width: 480px) {
    .work_area {
        
        /*background: #fff;*/
        border-radius: 5px;
        border: none;
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0 auto;
        /*height: auto;*/
        text-align: center;
    }
    .left_info {
        padding: 20px;
        width: 100%;
        text-align: left;
        background: #fff;
        
        
    }
    .right_info {
        padding-right: 20px;
        width: 100%;
        text-align: right;
        background: #fff;
        padding-bottom: 20px;
        
    }
    
}