<span style='color: #000' title='Frames'>   605</span><span style='color: #009' title='Memory'>  56576.00 KB</span><span style='color: #900' title='Time'>   1979.29 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />