#office-hours-container {
}
#office-hours-container * {
	text-align: left;
}

#office-hours-container .add-button-container {
	padding: 1em 0 0;
	text-align: center;
}
#office-hours-container .add-button-container.add-schedule-item-button-container {
	padding: 0;
}
#office-hours-container .add-button-container.add-dept-button-container {
	display: inline-block;
	zomm: 1;
	*display: inline;
	width: 456px;
}

#office-hours-container button {
	padding: 0 10px;
	cursor: pointer;
/*	background: initial;
	/*border: initial;
	border-radius: initial;
	color: initial;*/
}

#office-hours-container .dept-container {
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
	margin: 15px 0 0;
	padding: 1em;
/*	overflow: hidden;*/
	border: 1px solid #d0d7d8;
}

#office-hours-container .dept-container .button {
	position: relative;
	display: inline-block;
	zoom: 1;
	*display: inline;
	width: 19px;
	height: 19px;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	border: 1px solid transparent;
}
#office-hours-container .dept-container .button:hover {
	background-color: #dbe3f2;
	border: 1px solid #aeb6c2;
}

#office-hours-container .dept-container .close-dept-button {
	position: absolute;
	top: -10px;
	right: -10px;
	background-image: url(images/icon-row-del.gif);
}

#office-hours-container .dept-container .dept-name-container {
	margin: 0 0 5px 0;
	overflow: hidden;
}
#office-hours-container .dept-container .dept-name-container div {
	float: left;
}
#office-hours-container .dept-container .dept-name-container div.caption {
	padding-right: 10px;
}
#office-hours-container .dept-container .dept-name-container div input {
	width: 231px;
}

#office-hours-container .dept-container .small {
	font-size: 10px;
}

#office-hours-container .schedule-table {
	width: 428px;
	border-collapse: collapse;
	border: none;
}
#office-hours-container .schedule-table th,
#office-hours-container .schedule-table td
{
	padding: .5em;
	vertical-align: top;
	white-space: nowrap;
	border: 1px solid #d0d7d8;
}
#office-hours-container .schedule-table th {
	text-align: center;
}

#office-hours-container .schedule-table input[type="text"] {
	padding: .2em;
}

#office-hours-container .schedule-table .day-container {
	position: relative;
}
#office-hours-container .schedule-table .day-container .day-input {
	width: 150px;
}
#office-hours-container .schedule-table .day-container .set-day-button {
    display: none;
	top: 5px;
	background-image: url(images/icon-day-edit.gif);
}

#office-hours-container .schedule-table .hour-div {
	position: relative;
}
#office-hours-container .schedule-table .hour-div .hour-input {
	width: 100px;
}
#office-hours-container .schedule-table .hour-div .button {
	top: 5px;
}
#office-hours-container .schedule-table .hour-div .del-hour-button {
	background-image: url(images/icon-hour-del.gif);
}
#office-hours-container .schedule-table .hour-div .set-hour-button {
    display: none;
	background-image: url(images/icon-hour-edit.gif);
}

#office-hours-container .schedule-table td.del-schedule-item {
	text-align: center;
}
#office-hours-container .schedule-table .del-schedule-item-button {
	margin: 0 auto;
	background-image: url(images/icon-row-del.gif);
}

#office-hours-container .schedule-table .popup {
	position: absolute;
	left: 0;
	top: 35px;
	display: none;
	padding: 1em;
	background-color: #fff;
	border: 1px solid #d1d1d1;
	border-radius: 4px;
	box-shadow: 0 0 5px #ddd;
	z-index: 2;
}
#office-hours-container .schedule-table .popup.active {
	display: block;
}
#office-hours-container .schedule-table .popup .buttons-container {
    display: none;
	margin-top: 10px;
	padding-top: 10px;
	text-align: center;
	border-top: 1px solid #d0d7d8;
}
#office-hours-container .schedule-table .popup .buttons-container button {
	margin-right: 10px;
}
#office-hours-container .schedule-table .popup .buttons-container button:last-child {
	margin-right: 0;
}

#office-hours-container .schedule-table .popup .content-container label,
#office-hours-container .schedule-table .popup .content-container label input[type="checkbox"] {
	cursor: pointer;
}
#office-hours-container .schedule-table .popup .content-container label input[type="checkbox"] {
	position: relative;
	top: 3px;
}

#office-hours-container .schedule-table .set-day-popup .content-container label {
	margin-right: 10px;
}
#office-hours-container .schedule-table .set-day-popup .content-container label:last-child {
	margin-right: 0;
}

#office-hours-container .schedule-table .set-hour-popup {
	/*left: 112px;*/
}
#office-hours-container .schedule-table .set-hour-popup .content-container .error.active {
	white-space: normal;
	padding: 0 0 1em;
	color: #f00;
}
#office-hours-container .schedule-table .set-hour-popup .content-container .popup-hour-input {
	/*width: 35px;*/
	width: 25px;
}
#office-hours-container .schedule-table .set-hour-popup .content-container .popup-hour-input.error {
	border: 1px solid #f00;
}
#office-hours-container .schedule-table .set-hour-popup .content-container .holiday-checkbox-container {
	margin-top: 10px;
}