.block-auth-form__error{
	display: none;
	margin-top: 15px;
	color: red;
	text-align: center;
}

.block-password-recovery-form__error{
	display: none;
	margin-top: 15px;
	color: red;
	text-align: center;
	margin-bottom: 20px;
}
.block-password-recovery-form__account_info_sent{
	display: none;
	margin-top: 15px;
	color: green;
	text-align: center;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}