.bx-gadgets-colourful.otr-gadgets-demodata {
    background-color: #7e9aba;
    background-image: -webkit-linear-gradient(top, #7e9aba, #3f6794) !important;
    background-image: linear-gradient(to bottom, #7e9aba, #3f6794) !important;
}
.otr-gadgets-demodata .bx-gadgets-content {
    background: none;
    box-shadow: none;
    height: 130px !important;
    padding: 10px 30px 10px 10px !important;
}
.otr-gadget-demodata__header {
    color: #103b57;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.3);
    height: 35px;
}
.otr-gadget-demodata__text {
    color: #ffffff;
    font-size: 12px;
}
.otr-gadgets-demodata .bx-gadgets-side {
    background: url("images/stitch.png") repeat-y 0 0;
}
.otr-gadgets-demodata:hover .bx-gadgets-color-config-close {
    background-position: -1px -589px;
}
.otr-gadgets-demodata:hover .bx-gadgets-color-config-close:hover {
    background-position: -1px -606px;
}
.demodata-button {
    display: block;
    vertical-align: middle;
    padding: 10px 15px !important;
    height: 20px;
    border: 1px solid;
    border-radius: 4px;
    margin-top: 10px;
    background: #92aece;
    background: -webkit-linear-gradient(top, #92aece, #597ca4);
    background: -moz-linear-gradient(top, #92aece, #597ca4);
    background: -ms-linear-gradient(top, #92aece, #597ca4);
    background: -o-linear-gradient(top, #92aece, #597ca4);
    background: linear-gradient(top, #92aece, #597ca4);
    -webkit-shadow: inset 0 -1px 0 #92aece, inset 0 1px 0 #92aece, inset 0 0 0 1px #92aece;
    box-shadow: inset 0 -1px 0 #92aece, inset 0 1px 0 #92aece, inset 0 0 0 1px #92aece;
    position: absolute;
    bottom: 10px;
}
.demodata-button:hover {
    background: #b1d2f3;
    background: -webkit-linear-gradient(top, #b1d2f3, #6a93ce);
    background: -moz-linear-gradient(top, #b1d2f3, #6a93ce);
    background: -ms-linear-gradient(top, #b1d2f3, #6a93ce);
    background: -o-linear-gradient(top, #b1d2f3, #6a93ce);
    background: linear-gradient(top, #b1d2f3, #6a93ce);
}
.demodata-button__text {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-shadow: 0 -1px 0 #597ca4;
}