.cost-head-top {
    width: 1px;
    white-space: nowrap;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: 0 !important;
    border-right: none !important;
}

.cost-head {
    width: 1px;
    white-space: nowrap;
    padding-left: .5em;
    padding-right: .5em;
    padding-top: 0 !important;
    border-right: none !important;
}

.data-table .cost {
    white-space: nowrap;
}

.data-table .center {
    text-align: center;
}

.fix .meters-table .cost-head {
    padding-left: 5px;
    padding-right: 5px;
    white-space: normal;
}

.meter-name {
    word-wrap: break-word;
}

.meter-type-select {
    margin-bottom: 10px;
}

.meter-type-select:after {
    content: '';
    display: block;
    clear: both;
}

.meter-type {
    float: left;
    margin: 0px;
    border-width: 1px;
    border-style: solid;
}

.meter-type.left-bordered {
    border-radius: 3px 0px 0px 3px;
}

.meter-type.right-bordered {
    border-radius: 0px 3px 3px 0px;
}

.meter-type a {
    display: block;
    padding: 5px 15px;
    text-decoration: none;
}

.meter-type.main-bg a {
    color: #fff;
}

.meter-history > a {
    color: #363636 !important;
}

.meter-history > a:hover {
    color: #1d509e !important;
}