@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}

#receipt {
	margin: 0 auto; padding: 0;
	color: #000; background: #fff;
	width: 568px;

	font: 7pt/100% Arial, Helvetica, sans-serif;
}
table {
	border: 0 none;
	border-collapse: collapse;
	margin: 30px 0;
}
td {
	padding: 0 1pt 5pt 18pt; margin: 0;
	vertical-align: top;
}
table.border {
	margin: 0;
}
table.border td {
	border: 1pt solid #000 !important;
	padding: 0;
}
table td.tl {
	padding-left: 0;
}
small, .small {
	font-size: 8pt;
	line-height: 133%;
}
.bt { border-top: 1px solid #000 !important; }
.br { border-right: 1px solid #000 !important; }
.bb { border-bottom: 1px solid #000 !important; }
.bl { border-left: 1px solid #000 !important; }
.border .bt { border-top: 2px solid #000 !important; }
.border .br { border-right: 2px solid #000 !important; }
.border .bb { border-bottom: 2px solid #000 !important; }
.border .bl { border-left: 2px solid #000 !important; }

thead td {
	font-weight: bold;
	text-align: center;
	width: auto;
	vertical-align: middle;
}
table.counters td, table.services td {
	padding-left: 2pt; padding-right: 2pt;
}
table td.num {
	text-align: right;
	white-space: nowrap;
}
table td.center {
	text-align: center;
}
tfoot td {
	font-weight: bold;
}

.rcpt-barcode-cell {
	text-align: center;
}
td.no-border {
	border: none !important;
}

.rcpt-group-title td {
	text-transform: uppercase;
	font-weight: bold;
}
