.b-news-list-item {
	margin: 0 0 1em 0;
	overflow: hidden;
	max-height: 20em;
}
.b-news-date {
	font-style: italic;
	font-size: 85%;
	display: block;
	color: #666;
}
.b-news-list-item-name {
	font-size: 1.2em;
}
.b-news-preview-picture {
	float: left;
	margin: 1em 1em 1em 0;
}
.b-news-text {
	margin-top: 1em;
}
.b-news-props {
	margin: 1em 0;
	overflow: hidden;
}
.b-news-props dt {
	font-weight: bold;
}
.b-news-props dd {
	padding-left: 1em; margin: 0 0 .5em 0;
}
