@font-face {
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Light'), local('RobotoLt-Regular'),
    url(font/roboto-light.woff) format('woff'),
    url(font/roboto-light.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto Medium';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Medium'), local('RobotoLt-Regular'),
    url(font/roboto-medium.woff) format('woff'),
    url(font/roboto-medium.ttf) format('truetype');
}
#addititional-request:hover {
    text-decoration: none;
}
.text-strong {
    font-weight: bold;
}
.text-small {
    font-size: 10px;
}
.text-gray {
    color: #999999;
}
.element-hide {
    display: none !important;
}
.moneta-usage-form {
    font-family: 'Roboto Light';
    font-size: 12px;
    line-height: 16px;
    /*text-align: justify;*/
    color: #333333;
    margin: auto;
    display: inline-block;
}
.moneta-usage-form:after {
    content: ' ';
    display: inline-block;
    width: 100%;
}
.moneta-usage-block {
    width: 400px;
    height: 900px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #c3c3c3;
    margin: 20px;
    background-color: #ffffff;
    overflow: hidden;
    position: relative;
}
.moneta-usage-loader {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 40;
    background-color: rgba(0,0,0, 0.5);
}
/*.moneta-usage-loader:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-image: url(img/loading.gif);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}*/
.moneta-usage-block a {
    border-bottom: 1px dotted #999999;
    text-decoration: none;
    color: #999999;
    transition: all 0.25s;
}
.moneta-usage-block a:hover {
    cursor: pointer;
    transition: all 0.25s;
    color: #5f5f5f;
}
.moneta-usage-block__title {
    display: table;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #c3c3c3;
}
.moneta-usage-block__title-text {
    font-family: 'Roboto Medium';
    color: #999999;
    display: table-cell;
    vertical-align: middle;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    line-height: 20px;
    padding: 0px 50px;
}
.moneta-usage-block__status {
    padding: 30px 0px;
    text-align: center;
}
.moneta-usage-block__activate-button {
    background: #cccccc;
    border-radius: 0;
    border: none;
    box-shadow: 0px 6px #999999;
    outline: none;
    transition: none;
    color: #ffffff;
    text-transform: uppercase;
    position: relative;
    height: 32px;
    padding: 0 25px;
}
.moneta-usage-block__activate-button:hover {
    background: #cccccc;
    box-shadow: 0px 4px #999999;
    top: 2px;
    cursor: pointer;
}
.moneta-usage-block__descr {
    background: #ededed;
    height: 200px;
    padding: 20px;
    text-align: left;
}
.moneta-usage-block__descr-text {
    height: 120px;
}
.moneta-usage-block__example {
    line-height: 20px;
}
.moneta-usage-block__commission {
    padding-left: 45px;
}
.moneta-usage-activation-scheme {
    width: 90%;
    margin: 0 auto;
}
.moneta-usage-request {
    width: 90%;
    border: 1px solid #c3c3c3;
    text-align: center;
    font-size: 14px;
    background-color: #ededed;
    margin: 30px auto;
    padding: 15px 10px;
    box-sizing: border-box;
}
.moneta-usage-activation-scheme__table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.moneta-usage-activation-scheme__arrow-cell {
    border: none;
    width: 20%;
}
.moneta-usage-activation-scheme__info-cell {
    border: 1px solid #c3c3c3;
    padding: 15px 10px;
    text-align: left;
}
.moneta-usage-activation-scheme__arrow {
    background-image: url(img/arrow-not-active-gray.png);
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
.moneta-usage-block__status-activated {
    font-family: 'Roboto Medium';
    display: inline-block;
    border: 1px dashed #00b8e4;
    height: 32px;
    padding: 0 25px;
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;
    color: #00b8e4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.moneta-usage-block__status-activated_use {
    background-color: #ccf1fa;
    background-image: url(img/active.png);
    background-repeat: no-repeat;
    background-position: 10px;
    padding-left: 40px;
}

.moneta-usage-block_active {
    border: 2px solid #00b8e4;
}
.moneta-usage-block_active .moneta-usage-activation-scheme__arrow {
    background-image: url(img/arrow-not-active.png);
}
.moneta-usage-block_active .moneta-usage-activation-scheme__arrow_done {
    background-image: url(img/arrow.png);
}
.moneta-usage-block_active .moneta-usage-activation-scheme__arrow_active {
    background-image: url(img/arrow-active.png);
}
.moneta-usage-block_active .moneta-usage-block__title {
    border-bottom: 1px solid #00b8e4;
    color: #00b8e4;
}
.moneta-usage-block_active .moneta-usage-block__title-text {
    color: #00b8e4;
}
.moneta-usage-block_active .moneta-usage-block__descr {
    background-color: #ccf1fa;
}
.moneta-usage-block_active .moneta-usage-activation-scheme__info-cell {
    border-color: #00b8e4;
}
.moneta-usage-block_active .moneta-usage-request {
    border-color: #00b8e4;
    background-color: #ccf1fa;
}
.moneta-usage-block_active .moneta-usage-activation-scheme__arrow_status_done,
.moneta-usage-block_active .moneta-usage-activation-scheme__arrow_status_current {
    background-color: #00b8e4;
}
.moneta-usage-block_active .moneta-usage-activation-scheme__arrow_status_done:before,
.moneta-usage-block_active .moneta-usage-activation-scheme__arrow_status_current:before,
.moneta-usage-block_active .moneta-usage-activation-scheme__arrow,
.moneta-usage-block_active .moneta-usage-activation-scheme__arrow:before {
    border-left-color: #00b8e4;
}
.moneta-usage-block_active .moneta-usage-activation-scheme__arrow {
    border-color: #00b8e4;
}