.cssload-thecube {
    width: 73px;
    height: 73px;
    transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
    position: absolute;
    right: 50%;
    /*margin-top: 10%;*/
    display: none;
}

.cssload-thecube .cssload-cube {
    position: relative;
    transform: rotateZ(45deg);
    -o-transform: rotateZ(45deg);
    -ms-transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
    -moz-transform: rotateZ(45deg);
}
.cssload-thecube .cssload-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

.cssload-thecube .cssload-c2 {
    transform: scale(1.1) rotateZ(90deg);
    -o-transform: scale(1.1) rotateZ(90deg);
    -ms-transform: scale(1.1) rotateZ(90deg);
    -webkit-transform: scale(1.1) rotateZ(90deg);
    -moz-transform: scale(1.1) rotateZ(90deg);
}
.cssload-thecube .cssload-c3 {
    transform: scale(1.1) rotateZ(180deg);
    -o-transform: scale(1.1) rotateZ(180deg);
    -ms-transform: scale(1.1) rotateZ(180deg);
    -webkit-transform: scale(1.1) rotateZ(180deg);
    -moz-transform: scale(1.1) rotateZ(180deg);
}
.cssload-thecube .cssload-c4 {
    transform: scale(1.1) rotateZ(270deg);
    -o-transform: scale(1.1) rotateZ(270deg);
    -ms-transform: scale(1.1) rotateZ(270deg);
    -webkit-transform: scale(1.1) rotateZ(270deg);
    -moz-transform: scale(1.1) rotateZ(270deg);
}
.cssload-thecube .cssload-c2:before {
    animation-delay: 0.35s;
    -o-animation-delay: 0.35s;
    -ms-animation-delay: 0.35s;
    -webkit-animation-delay: 0.35s;
    -moz-animation-delay: 0.35s;
}
.cssload-thecube .cssload-c3:before {
    animation-delay: 0.69s;
    -o-animation-delay: 0.69s;
    -ms-animation-delay: 0.69s;
    -webkit-animation-delay: 0.69s;
    -moz-animation-delay: 0.69s;
}
.cssload-thecube .cssload-c4:before {
    animation-delay: 1.04s;
    -o-animation-delay: 1.04s;
    -ms-animation-delay: 1.04s;
    -webkit-animation-delay: 1.04s;
    -moz-animation-delay: 1.04s;
}

@keyframes cssload-fold-thecube {
    0%, 10% {
        transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

@-o-keyframes cssload-fold-thecube {
    0%, 10% {
        -o-transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -o-transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -o-transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

@-ms-keyframes cssload-fold-thecube {
    0%, 10% {
        -ms-transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -ms-transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -ms-transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

@-webkit-keyframes cssload-fold-thecube {
    0%, 10% {
        -webkit-transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -webkit-transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -webkit-transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}

@-moz-keyframes cssload-fold-thecube {
    0%, 10% {
        -moz-transform: perspective(136px) rotateX(-180deg);
        opacity: 0;
    }
    25%,
    75% {
        -moz-transform: perspective(136px) rotateX(0deg);
        opacity: 1;
    }
    90%,
    100% {
        -moz-transform: perspective(136px) rotateY(180deg);
        opacity: 0;
    }
}
.form-variable__button {
    padding: 10px 33px;
    border: 1px solid #709dca;
    display: inline-block;
    text-decoration: none;
    color: #2b5f93;
    border-radius: 6px;
    background-color: #ffffff;
    cursor: pointer;
    line-height: normal;
    height: auto;
    font-size: inherit;
}
#main {
    width: 100%;
    margin: 0px auto;
    border: solid 1px #b2b3b5;
    -moz-border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
}
#header {
    text-align: center;
    border-bottom: solid 1px #b2b3b5;
    margin: 0 0 20px 0;
}
fieldset {
    border: none;
    width: 100%
}

label {
    display: block;
    margin: 15px 0 5px;
}
div#main>input[type=text], div#main>input[type=password] {
    padding: 5px;
    border: solid 1px #000;
}
.prev, .next {
    background-color: #b0232a;
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
}
.prev:hover, .next:hover {
    background-color: #000;
    text-decoration: none;
}
.prev {
    float: left;
}
.next {
    float: right;
}
#steps {
    list-style: none;
    width: 100%;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
}
#steps li {
    font-size: 24px;
    float: left;
    padding: 10px;
    color: #b0b1b3;
    width: 25%;
}
#steps li span {
    font-size: 11px;
    display: block;
}
#steps li.current {
    color: #000;
    
}
#makeWizard {
    background-color: #b0232a;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 18px;
}
#makeWizard:hover {
    background-color: #000;
}


.radio {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 10px;
}
.radio + label {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;
}

.radio + label:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -1px;
    width: 15px;
    height: 15px;
    border: 2px solid #7EA5CD;
    border-radius: 50%;
    display: block;
    
}
.radio:checked + label:after {
    opacity: 1;
}
span.title {
    color: black;
    font-size: large;
}
.next {
    width: 150px;
    height: 40px;
    border: 1px transparent;
    border-radius: 3px;
    background-color: #ffc155;
    color: #2b5f93;
    text-align: center;
    font-family: CenturyGothicRegular, Arial, sans-serif;
    vertical-align: middle;
    float: right;
    font-size: medium;
    font-weight: bold;
    
}
.next:hover {
    background: #ffc155;
    color: #2b5f93;
    
}
span.subscribe {
    font-size: small;
    color: grey;
    font-style: italic;
}
input.code {
    height: 30px;
    width: 70%;
    margin: 0 auto;
    border: 2px solid #ccc;
    
}
div.wrap {
    /* padding: 50px;*/
}

br.small {
    line-height: 1em;
}
td.span {
    width: 20%;
}
td {
    color: #000;
}
#step1Prev {
    margin-right: 20px;
    
}
#step3Prev{
    
    margin-right:20px;
}
.step3data{
    text-align: left;
    
}
@media screen and (max-width: 768px), screen and (max-width: 480px)  {
    #steps li {
        font-size: 24px;
        float: left;
        padding: 10px;
        color: #b0b1b3;
        display:none;
    }
    #steps li span {
        font-size: 11px;
        display: block;
    }
    #steps li.current {
        color: #000;
        width: 100%;
        display:block;
        text-align: center;
    }
    #steps li.hidden {
        display:none;
        width: 0;
    }
    input.code {
        height: 30px;
        width: 100%;
        margin: 0 auto;
        border: 2px solid #ccc;
    }
    
    .cssload-thecube {
        width: 73px;
        height: 73px;
        transform: rotateZ(45deg);
        -o-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
        -webkit-transform: rotateZ(45deg);
        -moz-transform: rotateZ(45deg);
        position: absolute;
        right: 40%;
        margin-top: 10%;
        display: none;
    }
    #step3Prev{
        
        padding:6px 14px !important;
        float: left;
    }
    #step3Prev1 {
        
        padding:6px 14px !important;
        float: right;
        
    }
    #step1Prev{
        
        padding:6px 14px !important;
        float: left;
    }
    #step1Next{
        
        padding:6px 14px !important;
        float: right;
    }
    .whide{
        display:none;
    }
    .acc_name{
        font-size: 12px;
        line-height: 12px;
    }
    .step3data{
        text-align: left;
    }
    table.step3data  td{
        padding-bottom: 30px;
        padding-left: 20px;
    }
}