.top-switcher {
    background-color: #fbfbfb !important;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
    .container {
        width: 1230px;
    }
}

.row {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: -15px;
    margin-left: -15px;
}

.btn-top-switcher-left {
    padding-right: 35px;
    padding-left: 15px;
    text-align: right;
}

.btn-top-switcher-right {
    padding-right: 15px;
    padding-left: 50px;
    line-height: 35px;
    font-size: 16px ;
}

@media (max-width: 991px) {
    .btn-top-switcher-right  {
        text-align: center;
        padding-left: 15px;
    }
    .btn-top-switcher-left  {
        text-align: center;
        padding-right: 15px;
    }
}

@media (min-width: 992px) {
    .btn-top-switcher-left, .btn-top-switcher-right {
        float: left;
    }}
@media (min-width: 992px) {
    .btn-top-switcher-right {
        width: 65%;
    }}
@media (min-width: 992px) {
    .btn-top-switcher-left {
        width: 35%;
    }
}

.btn-top-switcher {
    display: inline-block;
    border: 1px solid #cc3000;
    padding: 7px 14px;
    border-radius: 2px;
    font-size: 16px ;
    cursor: pointer;
    color: #fff;
    background-color: #ff3c00;
    text-decoration: none;
    margin-right: 10px;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
}

.btn-top-switcher:hover, .btn-top-switcher:focus {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 99, 51);
    border-color: rgb(255, 99, 51);
}


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.row:after {
    clear: both;
}

.container:before, .container:after , .row:before, .row:after {
    display: table;
    content: " ";
}
