input,
button {
    border: none;
    outline: none;
}
.tszh-datepicker {
    display: inline-table;
}
.tszh-datepicker > div {
    width: 300px;
    position: absolute;
    background-color: #709dca;
    display: none;
    z-index: 1000;
}
.tszh-datepicker > div table {
    width: 100%;
    font: monospace;
    line-height: 1.2em;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
}
.tszh-datepicker > div table tr {
    height: 28px;
}
.tszh-datepicker > div table td {
    width: 14%;
    color: #ffffff;
    font-size: 12px;
}
.tszh-datepicker > div table thead tr:first-child > td:first-child {
    padding-bottom: 55px;
}
.tszh-datepicker > div table thead tr:last-child {
    font-size: small;
    color: #555555;
}
.tszh-datepicker > div table tbody td:nth-child(n+6),
.tszh-datepicker > div table .tszh-datepicker__holiday {
    color: #e78c5c;
}
.tszh-datepicker > div table tbody td.tszh-datepicker__today {
    outline: 3px solid red;
}
.tszh-datepicker > div table .tszh-datepicker__select {
    position: absolute;
    width: 50%;
    display: inline-block;
    left: 0;
    top: 0;
    height: 50px;
}
.tszh-datepicker > div table .tszh-datepicker__select select {
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    height: 50px;
}
.tszh-datepicker > div table .tszh-datepicker__select:after {
    top: 20px;
}
.tszh-datepicker > div table .tszh-datepicker__select:before {
    top: 22px;
}
.tszh-datepicker > div table input {
    width: calc(50% - 22px);
    padding: 5px 10px;
    position: absolute;
    height: 40px;
    top: 0;
    border-radius: 4px;
    font-size: 14px;
    color: #ffffff;
    right: 0;
    background-color: #317dd3;
}
.tszh-datepicker__month {
    font-size: 18px;
    padding: 10px;
}
.tszh-datepicker__month-left,
.tszh-datepicker__month-right {
    position: relative;
    cursor: pointer;
    margin: 0 auto;
}
.tszh-datepicker__month-left span {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 10px;
    border: 9px solid transparent;
    border-right-color: #ffffff;
}
.tszh-datepicker__month-right span {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 10px;
    left: 0;
    border: 9px solid transparent;
    border-left-color: #ffffff;
}
.tszh-datepicker__day {
    cursor: pointer;
}
.tszh-datepicker__day-selected {
    background-color: #317dd3;
    /*
      background-repeat: no-repeat;
      background-clip: content-box;
      background-size: 50% 50%;*/
    border-radius: 10px;
}
.tszh-datepicker__input {
    padding: 10px 20px 20px 20px;
}
.tszh-datepicker__input input {
    width: 50%;
    cursor: pointer;
    padding: 10px;
    background-color: #709dca;
    color: #ffffff;
}
.tszh-datepicker__input input[name="select"] {
    border: 1px solid #317dd3;
    border-radius: 4px;
}
.tszh-datepicker__value {
    cursor: pointer;
    color: #2b5f93;
    text-decoration: underline;
}
.tszh-datepicker__show-item .tszh-datepicker__value {
    color: inherit;
}
.tszh-datepicker__show-item > div {
    display: block !important;
}